*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}
.heading {
    background-color: blueviolet;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
}
.form_container{
    display: flex;
    width: 80%;
    margin: 2rem auto;
}
form.payment_form{
    flex: 1;
    padding: 1rem;
    margin: 1rem;
}
.paymentImg_container{
    flex: 1;
}
.paymentImg_container img{
    border-radius: 4rem 2rem 5rem;
    width: 100%;
}
form.payment_form label{
    display: block;
    margin: 0.5rem 0;
}
form.payment_form input{
    font-size: 0.9rem;
    padding: 0.5rem;
    width: 100%;
}
form.payment_form input:focus{
    outline: none;
}
.payment_btn{
    background-color: rgb(99, 66, 129);
    border: none; 
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 0.5rem 2rem;
    margin: 1rem auto;
    transition: 0.5s ease-in-out;
}
.payment_btn:hover{
    opacity: 0.75;
}